<!DOCTYPE html>
<html lang="es" style="scroll-behavior: smooth">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Soy un Desarrollador Web con más de 8 años de experiencia en Frontend, Backend y liderazgo técnico. He trabajado en proyectos innovadores, optimizando aplicaciones y liderando equipos ágiles. Mi pasión es crear soluciones tecnológicas que generen un impacto positivo.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
